In [2]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
import math
%matplotlib inline

//anaconda/lib/python2.7/site-packages/IPython/html.py:14: ShimWarning: The `IPython.html` package has been deprecated. You should import from `notebook` instead. `IPython.html.widgets` has moved to `ipywidgets`.
  "`IPython.html.widgets` has moved to `ipywidgets`.", ShimWarning)

In [3]:
df14 = pd.read_csv('/Users/jpw/Desktop/jp_nfl_pandas_tester.csv')

In [4]:
#Want to make row index(0) the Header row
df14.columns = df14.iloc[0]
df14.head()

,TEAM,Port Rank,Port %,Est. Wins Port.,�W,Pyt. Rank,Pyt. %,Est. Wins Pyt.,�W2,W,...,Week 8,Week 9,Week 10,Week 11,Week 12,Week 13,Week 14,Week 15,Week 16,Week 17
0,TEAM,Port Rank,Port %,Est. Wins Port.,�W,Pyt. Rank,Pyt. %,Est. Wins Pyt.,�W2,W,...,Week 8,Week 9,Week 10,Week 11,Week 12,Week 13,Week 14,Week 15,Week 16,Week 17
1,Arizona,16,0.521,8.3,-2.7,16,0.522,8.4,-2.6,11,...,0.830,0.846,0.895,0.918,0.930,0.936,0.960,0.985,0.991,1.000
2,Atlanta,21,0.448,7.2,1.2,21,0.450,7.2,1.2,6,...,0.824,0.870,0.919,0.937,0.942,0.962,0.974,0.990,0.995,1.000
3,Baltimore,5,0.679,10.9,0.9,5,0.676,10.8,0.8,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Buffalo,12,0.601,9.6,0.6,10,0.602,9.6,0.6,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
#Now need to drop row index(0)
df14.drop(df14.index[[0]], inplace=True)
df14.reindex(df14) #Can use this to reindex the DF (to maintain 0-indexed structure)
df14.head()

,TEAM,Port Rank,Port %,Est. Wins Port.,�W,Pyt. Rank,Pyt. %,Est. Wins Pyt.,�W2,W,...,Week 8,Week 9,Week 10,Week 11,Week 12,Week 13,Week 14,Week 15,Week 16,Week 17
1,Arizona,16,0.521,8.3,-2.7,16,0.522,8.4,-2.6,11,...,0.830,0.846,0.895,0.918,0.930,0.936,0.960,0.985,0.991,1.000
2,Atlanta,21,0.448,7.2,1.2,21,0.450,7.2,1.2,6,...,0.824,0.870,0.919,0.937,0.942,0.962,0.974,0.990,0.995,1.000
3,Baltimore,5,0.679,10.9,0.9,5,0.676,10.8,0.8,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Buffalo,12,0.601,9.6,0.6,10,0.602,9.6,0.6,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Carolina,23,0.440,7.0,0.0,23,0.441,7.1,0.1,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
#clean up col names by replacing spaces with underscores -- needs to handle floats
cols = df14.columns.tolist()
cols = [str(col) for col in cols] #convert all header names to str first
cols = [col.replace(' ', '_') for col in cols]
cols = [''.join([i if 32 < ord(i) < 126 else "" for i in col]) for col in cols] #remove non-ASCII chars in headers

df14.columns = cols
df14.head()

,TEAM,Port_Rank,Port_%,Est._Wins_Port.,W,Pyt._Rank,Pyt._%,Est._Wins_Pyt.,W2,W,...,Week_8,Week_9,Week_10,Week_11,Week_12,Week_13,Week_14,Week_15,Week_16,Week_17
1,Arizona,16,0.521,8.3,-2.7,16,0.522,8.4,-2.6,11,...,0.830,0.846,0.895,0.918,0.930,0.936,0.960,0.985,0.991,1.000
2,Atlanta,21,0.448,7.2,1.2,21,0.450,7.2,1.2,6,...,0.824,0.870,0.919,0.937,0.942,0.962,0.974,0.990,0.995,1.000
3,Baltimore,5,0.679,10.9,0.9,5,0.676,10.8,0.8,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Buffalo,12,0.601,9.6,0.6,10,0.602,9.6,0.6,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Carolina,23,0.440,7.0,0.0,23,0.441,7.1,0.1,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
#drop specific columns by index - example
df14.drop(df14.columns[[100, 103, 106]], axis=1, inplace=True)
df14.head()

,TEAM,Port Rank,Port %,Est. Wins Port.,�W,Pyt. Rank,Pyt. %,Est. Wins Pyt.,�W2,W,...,Week 7,Week 8,Week 10,Week 11,Week 12,Week 13,Week 14,Week 15,Week 16,Week 17
1,Arizona,16,0.521,8.3,-2.7,16,0.522,8.4,-2.6,11,...,0.803,0.830,0.895,0.918,0.930,0.936,0.960,0.985,0.991,1.000
2,Atlanta,21,0.448,7.2,1.2,21,0.450,7.2,1.2,6,...,0.854,0.824,0.919,0.937,0.942,0.962,0.974,0.990,0.995,1.000
3,Baltimore,5,0.679,10.9,0.9,5,0.676,10.8,0.8,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Buffalo,12,0.601,9.6,0.6,10,0.602,9.6,0.6,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Carolina,23,0.440,7.0,0.0,23,0.441,7.1,0.1,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
#drop a range of unwanted columns by index - example; this is usually not the best way to approach this.  Better to 
#simply make a new df using a mask of the desired cols from the original df
df14.drop(df14.columns[89:], axis=1, inplace=True)
df14.head()

,TEAM,Port Rank,Port %,Est. Wins Port.,�W,Pyt. Rank,Pyt. %,Est. Wins Pyt.,�W2,W,...,W.C.,Div.,CCG,SB 47,nan,Avg. Pyt.,Avg. Rank,_Avg.,St. Dev.,SD Rank
1,Arizona,16,0.521,8.3,-2.7,16,0.522,8.4,-2.6,11,...,NaN,NaN,NaN,NaN,NaN,0.605,10,0.103,0.067,8
2,Atlanta,21,0.448,7.2,1.2,21,0.450,7.2,1.2,6,...,NaN,NaN,NaN,NaN,NaN,0.484,21,-0.019,0.080,11
3,Baltimore,5,0.679,10.9,0.9,5,0.676,10.8,0.8,10,...,NaN,NaN,NaN,NaN,NaN,0.694,1,0.191,0.114,18
4,Buffalo,12,0.601,9.6,0.6,10,0.602,9.6,0.6,9,...,NaN,NaN,NaN,NaN,NaN,0.569,16,0.066,0.074,9
5,Carolina,23,0.440,7.0,0.0,23,0.441,7.1,0.1,7,...,NaN,0.461,NaN,NaN,NaN,0.418,23,-0.084,0.155,29

In [8]:
#View all column names
print len(df14.columns)

61

In [9]:
#Create a new DF just for plotting Weekly Port%, by index since multiple columns are named 'week x'
#len(df14.columns)
dfplot = df14.ix[0:32, [67:89]
dfplot

SyntaxError: invalid syntax (<ipython-input-9-0bccfdf40ff5>, line 3)

In [13]:
#Try to 'reindex' rows as the names of the teams - failing
dfplot.rows = dfplot.ix[:,'TEAM']
dfplot

KeyError: 'TEAM'

In [217]:
#convert data to floats instead of str

dfplot = dfplot.apply(lambda x: pd.to_numeric(x, errors='ignore'))
dfplot.head()

,TEAM,Week_1,Week_2,Week_3,Week_4,Week_5,Week_6,Week_7,Week_8,Week_9,...,Week_12,Week_13,Week_14,Week_15,Week_16,Week_17,W.C.,Div.,CCG,SB_47
1,Arizona,0.536,0.689,0.716,0.716,0.500,0.554,0.596,0.597,0.621,...,0.621,0.583,0.585,0.595,0.529,0.521,NaN,NaN,NaN,NaN
2,Atlanta,0.552,0.373,0.708,0.591,0.534,0.478,0.407,0.414,0.414,...,0.457,0.483,0.483,0.471,0.502,0.448,NaN,NaN,NaN,NaN
3,Baltimore,0.290,0.714,0.657,0.792,0.715,0.785,0.822,0.777,0.689,...,0.703,0.680,0.695,0.700,0.670,0.679,NaN,NaN,NaN,NaN
4,Buffalo,0.583,0.789,0.604,0.531,0.545,0.461,0.470,0.545,0.545,...,0.583,0.615,0.591,0.602,0.590,0.601,NaN,NaN,NaN,NaN
5,Carolina,0.707,0.862,0.551,0.337,0.412,0.434,0.373,0.367,0.329,...,0.305,0.285,0.357,0.369,0.381,0.440,NaN,0.461,NaN,NaN

In [268]:
#SB teams weekly data
sea_port = np.array(dfplot.ix[28, 1:])
sea_port[-4] = sea_port[-5]
ne_port = np.array(dfplot.ix[21, 1:])
ne_port[-4] = ne_port[-5]
ne_port[-1] = .737

In [1]:
#Use Plotting DF for plotting in MPL
weeks = np.arange(1, 22, 1)

fig = plt.figure(figsize=(12,8))
ax = fig.add_subplot(111)

ax.plot(weeks, sea_port, color='#66c010', marker='o', lw=2, label='Seattle')
ax.plot(weeks, ne_port, color='#011582', marker='o', lw=2, label='New England')
ax.set_title('2014 Super Bowl Teams')
ax.set_ylabel('Pythagenport Rating')
ax.set_xlabel('Week')
ax.grid(True)
plt.legend(loc='best')
plt.axis([1, 22, 0, 1])



# Adjust the tick positions and labels
#grid.set(xticks=np.arange(5), yticks=[-3, 3],
 #        xlim=(-.5, 4.5), ylim=(-3.5, 3.5))
#plt.xscale('log')
plt.show()

NameError: name 'np' is not defined

In [220]:
print type(dfplot.ix[28, 4])
#dfplot.plot(kind='scatter', x=dfplot.ix[28,:], y=dfplot.columns[1:])

<type 'numpy.float64'>

In [1]:
#drop a range of unwanted columns by index - example; this is usually not the best way to approach this.  Better to 
#simply make a new df using a mask of the desired cols from the original df
df14.drop(df14.columns[89:], axis=1, inplace=True)
df14.head()

NameError: name 'df14' is not defined

In [7]:
#drop a range of unwanted columns by index - example; this is usually not the best way to approach this.  Better to 
#simply make a new df using a mask of the desired cols from the original df
#df14.drop(df14.columns[89:], axis=1, inplace=True)
df14.head()

,TEAM,Port Rank,Port %,Est. Wins Port.,�W,Pyt. Rank,Pyt. %,Est. Wins Pyt.,�W2,W,...,W.C.,Div.,CCG,SB 47,nan,Avg. Pyt.,Avg. Rank,_Avg.,St. Dev.,SD Rank
1,Arizona,16,0.521,8.3,-2.7,16,0.522,8.4,-2.6,11,...,NaN,NaN,NaN,NaN,NaN,0.605,10,0.103,0.067,8
2,Atlanta,21,0.448,7.2,1.2,21,0.450,7.2,1.2,6,...,NaN,NaN,NaN,NaN,NaN,0.484,21,-0.019,0.080,11
3,Baltimore,5,0.679,10.9,0.9,5,0.676,10.8,0.8,10,...,NaN,NaN,NaN,NaN,NaN,0.694,1,0.191,0.114,18
4,Buffalo,12,0.601,9.6,0.6,10,0.602,9.6,0.6,9,...,NaN,NaN,NaN,NaN,NaN,0.569,16,0.066,0.074,9
5,Carolina,23,0.440,7.0,0.0,23,0.441,7.1,0.1,7,...,NaN,0.461,NaN,NaN,NaN,0.418,23,-0.084,0.155,29